/* Danilo Zhu 1943382 */
body {
    font-family: 'Trebuchet MS';
    background-color: #856959;
    background-image: url('https://live.staticflickr.com/7361/9787138564_6fb616a8f8_b.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffecda;
}

footer {
    bottom: 0;
    line-height: 150%;
    position: absolute;
}

img {
    margin: auto 30%;
}

#quoteDiv {
    margin: 5% 30%;
    position: absolute;
}

#quoteGetter {
    position: relative;
    margin: 10% 30% auto 30%;
}